{% load static wagtailcore_tags %}


<div id="accordion" class="divide-y divide-gray-200">

  <div class="accordion-item">
    <h2 class="accordion-header mb-0">
      <button class="accordion-button relative flex items-center w-full py-4 px-5 text-left bg-white text-gray-800 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-indigo-500" type="button">
        Accordion Item #1
      </button>
    </h2>
    <div class="accordion-collapse collapse hidden" style="">
      <div class="accordion-body py-4 px-5">
        This is the first item's accordion body.
      </div>
    </div>
  </div>
  <!-- Repeat for more accordion items -->
</div>

<script src="{% static 'js/accordion.js' %}"></script>
